<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.NewTestNG"/>
      <class name="test.Test2"/>
      <class name="test.Beforesuite"/>
    </classes>
  </test> <!-- Test -->
<test name="Test1">
<classes>
<class name="test.Inculde">
<methods><include name="login.*"></include></methods>
</class>
</classes>
</test>
<test name="Test3">
<classes>
<class name="test.Exclude">
<methods>
<exclude name="singuplogin"></exclude>
</methods>
</class>
</classes>
</test>

<test name="Test4"><groups><run><include name="logout"></include></run></groups>
<classes><class name="test.Groups"></class></classes>
</test>
</suite> <!-- Suite -->
